[submodule "vendor/phoenix_ptr"]
	path = vendor/phoenix_ptr
	url = https://github.com/SoftwearDevelopment/phoenix_ptr
[submodule "vendor/thread_pool"]
	path = vendor/thread_pool
	url = https://github.com/SoftwearDevelopment/thread_pool
[submodule "vendor/oglplus"]
	path = vendor/oglplus
	url = https://github.com/matus-chochlik/oglplus
