[submodule "vendor/phoenix_ptr"]
	path = vendor/phoenix_ptr
	url = https://github.com/SoftwearDevelopment/phoenix_ptr
[submodule "vendor/thread_pool"]
	path = vendor/thread_pool
	url = https://github.com/SoftwearDevelopment/thread_pool
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm/
